{% extends 'base.html' %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock head %}

{% block content %}
	<h2>Change Password</h2>
	<form method="post">
		<label for="oldPassword">Old Password</label>
		<input name="oldPassword" id="oldPassword" required>
		<label for="newPassword">New Password</label>
		<input name="newPassword" id="newPassword" required>
		<label for="repeatPassword">Repeat Password</label>
		<input name="repeatPassword" id="repeatPassword" required>
		<input class="submit" type="submit" value="Update">
	</form>
{% endblock %}